@CHARSET "utf-8";
body {
	padding-top: 60px;
	padding-bottom: 40px;
	font: 12px "Meiryo","メイリオ","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","MS P Gothic","ＭＳ Ｐゴシック",Osaka,Verdana,Arial, Helvetica, sans-serif;
}
.navbar-inner {
	background-color: #286bcc;
	background-image: -moz-linear-gradient(bottom, #286bcc, #ffffff);
	background-image: -ms-linear-gradient(bottom, #286bcc, #ffffff);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#286bcc));
	background-image: -webkit-linear-gradient(bottom, #286bcc, #ffffff);
	background-image: -o-linear-gradient(bottom, #286bcc, #ffffff);
	background-image: linear-gradient(bottom, #286bcc, #ffffff);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#286bcc', GradientType=0);
}
/* --- ボックス --- */
div.section-blue {
	padding-bottom: 1px; /* ボックスの下パディング */
	background-color: #ffffff;
	font-size: 80%; /* ボックスの文字サイズ */
	border-top-left-radius:10px 10px;
	border-top-right-radius:10px 10px;
	border-bottom-left-radius:10px 10px;
	border-bottom-right-radius:10px 10px;
	margin: 10px 0 10px 0;
}

/* --- 見出しエリア --- */
div.section-blue div.heading {
	margin: 0 0 1em; /* 見出しエリアのマージン（上、左右、下） */
	padding: 5px; /* 見出しエリアのパディング */
	background-color: #286bcc;
	background-image: -moz-linear-gradient(left, #286bcc, #ffffff);
	background-image: -ms-linear-gradient(left, #286bcc, #ffffff);
	background-image: -webkit-gradient(linear, left, right, from(#ffffff), to(#286bcc));
	background-image: -webkit-linear-gradient(left, #286bcc, #ffffff);
	background-image: -o-linear-gradient(left, #286bcc, #ffffff);
	background-image: linear-gradient(left, #286bcc, #ffffff);
	background-repeat: repeat-x;
	border: 0px #666666 solid; /* 見出しエリアの境界線 */
	border-top-left-radius:10px 10px;
	border-top-right-radius:0 0;
}
/* --- ボックス --- */
div.section-green {
	padding-bottom: 1px; /* ボックスの下パディング */
	background-color: #ffffff;
	font-size: 80%; /* ボックスの文字サイズ */
	border-top-left-radius:10px 10px;
	border-top-right-radius:10px 10px;
	border-bottom-left-radius:10px 10px;
	border-bottom-right-radius:10px 10px;
	margin: 10px 0 10px 0;
}

/* --- 見出しエリア --- */
div.section-green div.heading {
	margin: 0 0 1em; /* 見出しエリアのマージン（上、左右、下） */
	padding: 5px; /* 見出しエリアのパディング */
	background-color: #286bcc;
	background-image: -moz-linear-gradient(left, #51b11d, #ffffff);
	background-image: -ms-linear-gradient(left, #51b11d, #ffffff);
	background-image: -webkit-gradient(linear, left, right, from(#ffffff), to(#51b11d));
	background-image: -webkit-linear-gradient(left, #51b11d, #ffffff);
	background-image: -o-linear-gradient(left, #51b11d, #ffffff);
	background-image: linear-gradient(left, #51b11d, #ffffff);
	background-repeat: repeat-x;
	border: 0px #666666 solid; /* 見出しエリアの境界線 */
	border-top-left-radius:10px 10px;
	border-top-right-radius:0 0;
}
/* --- ボックス --- */
div.section-orange {
	padding-bottom: 1px; /* ボックスの下パディング */
	background-color: #ffffff;
	font-size: 80%; /* ボックスの文字サイズ */
	border-top-left-radius:10px 10px;
	border-top-right-radius:10px 10px;
	border-bottom-left-radius:10px 10px;
	border-bottom-right-radius:10px 10px;
	margin: 10px 0 10px 0;
}

/* --- 見出しエリア --- */
div.section-orange div.heading {
	margin: 0 0 1em; /* 見出しエリアのマージン（上、左右、下） */
	padding: 5px; /* 見出しエリアのパディング */
	background-color: #286bcc;
	background-image: -moz-linear-gradient(left, #ffbf00, #ffffff);
	background-image: -ms-linear-gradient(left, #ffbf00, #ffffff);
	background-image: -webkit-gradient(linear, left, right, from(#ffffff), to(#ffbf00));
	background-image: -webkit-linear-gradient(left, #ffbf00, #ffffff);
	background-image: -o-linear-gradient(left, #ffbf00, #ffffff);
	background-image: linear-gradient(left, #ffbf00, #ffffff);
	background-repeat: repeat-x;
	border: 0px #666666 solid; /* 見出しエリアの境界線 */
	border-top-left-radius:10px 10px;
	border-top-right-radius:0 0;
}
/* --- ボックス --- */
div.section-red {
	padding-bottom: 1px; /* ボックスの下パディング */
	background-color: #ffffff;
	font-size: 80%; /* ボックスの文字サイズ */
	border-top-left-radius:10px 10px;
	border-top-right-radius:10px 10px;
	border-bottom-left-radius:10px 10px;
	border-bottom-right-radius:10px 10px;
	margin: 10px 0 10px 0;
}

/* --- 見出しエリア --- */
div.section-red div.heading {
	margin: 0 0 1em; /* 見出しエリアのマージン（上、左右、下） */
	padding: 5px; /* 見出しエリアのパディング */
	background-color: #286bcc;
	background-image: -moz-linear-gradient(left, #dc0800, #ffffff);
	background-image: -ms-linear-gradient(left, #dc0800, #ffffff);
	background-image: -webkit-gradient(linear, left, right, from(#ffffff), to(#dc0800));
	background-image: -webkit-linear-gradient(left, #dc0800, #ffffff);
	background-image: -o-linear-gradient(left, #dc0800, #ffffff);
	background-image: linear-gradient(left, #dc0800, #ffffff);
	background-repeat: repeat-x;
	border: 0px #666666 solid; /* 見出しエリアの境界線 */
	border-top-left-radius:10px 10px;
	border-top-right-radius:0 0;
}
/* --- ボックス --- */
div.section-purple {
	padding-bottom: 1px; /* ボックスの下パディング */
	background-color: #ffffff;
	font-size: 80%; /* ボックスの文字サイズ */
	border-top-left-radius:10px 10px;
	border-top-right-radius:10px 10px;
	border-bottom-left-radius:10px 10px;
	border-bottom-right-radius:10px 10px;
	margin: 10px 0 10px 0;
}

/* --- 見出しエリア --- */
div.section-purple div.heading {
	margin: 0 0 1em; /* 見出しエリアのマージン（上、左右、下） */
	padding: 5px; /* 見出しエリアのパディング */
	background-color: #286bcc;
	background-image: -moz-linear-gradient(left, #8856a1, #ffffff);
	background-image: -ms-linear-gradient(left, #8856a1, #ffffff);
	background-image: -webkit-gradient(linear, left, right, from(#ffffff), to(#8856a1));
	background-image: -webkit-linear-gradient(left, #8856a1, #ffffff);
	background-image: -o-linear-gradient(left, #8856a1, #ffffff);
	background-image: linear-gradient(left, #8856a1, #ffffff);
	background-repeat: repeat-x;
	border: 0px #666666 solid; /* 見出しエリアの境界線 */
	border-top-left-radius:10px 10px;
	border-top-right-radius:0 0;
}

/* --- 見出し --- */
div.heading h3 {
	margin: 0;
	padding: 2px 0 2px 7px; /* 見出しのパディング（上右下左） */
	border-left: 4px #cccccc solid; /* 見出しの左境界線 */
	font-family: "メイリオ","Meiryo";
	font-size: 120%; /* 見出しの文字サイズ */
	color: #f9f9f9; /* 見出しの文字色 */
	line-height: 100%;
}

/* --- ボックス内の段落 --- */
div.content {
	padding: 1px 0 10px 0px; /* 見出しのパディング（上右下左） */
	margin: 0em 10px; /* 段落のマージン（上下、左右） */
	font-family: "メイリオ","Meiryo";
	font-size: 110%; /* 見出しの文字サイズ */
}
div.icon {
	float: left;
	margin: 0px 3px 0px 0px; /* 段落のマージン（上右下左） */
}
.table td {
  text-align: center;
}
.class_box_shadow {
	margin: auto;
	background: #ccc;
	border: 5px solid white;
	position:relative;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.47);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.47);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.47);
}
.section-green td {
  text-align: left;
}
.section-red td {
  text-align: left;
}
div#overlay {
	position:relative;
}
div#overlay p {
	margin:0;
}
#overlaytext {
	padding:20px 0 0 20px;
	position:absolute;
	top: 220px;
	right: 0;
	background-color:#000;
	color:#fff;
	width:70%;
	height: 100px;
	background-color:rgba(0,0,0,0.7);
	font: 12px "Meiryo","メイリオ","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","MS P Gothic","ＭＳ Ｐゴシック",Osaka,Verdana,Arial, Helvetica, sans-serif;
}
#accordion_head {
	cursor:pointer;
	font: 12px "Meiryo","メイリオ","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","MS P Gothic","ＭＳ Ｐゴシック",Osaka,Verdana,Arial, Helvetica, sans-serif;
}
#photo-area{
  position:relative;
  overflow:hidden;
  width:100%;
}
#photo-area #images{
	position: relative;
	left: 50%;
	float: left;
}
#photo-area #images #image{
	position: relative;
	right:50%;
	float: left;
}